@using MyBlog.Controllers;
@model MyBlog.ViewModels.HomeViewModel

@section Styles {
	<link href="@Url.Content("~/Content/Styles/main.css")" rel="stylesheet" type="text/css" />
}

<a href="/Users/Index/">[Show Users list]</a>

<div class="content">

	@if (!User.Identity.IsAuthenticated)
	{
		<p>Please log in to write your post</p>
	}

	@if (User.Identity.IsAuthenticated)
	{
		<div class="new-post">
			<form method="post" action="/Home/AddPost" class="new-post-form">
				<p>Enter your post :</p>
				<input type="text" name="Content" />
				<input type="submit" value="Send" />
			</form>
		</div>
	}

	<div class="posts">
		@foreach (var post in Model.Posts)
		{
			<div class="post">
				@post.Autor.NickName <br />
				@post.Content <br />

				@if (User.Identity.IsAuthenticated && Model.CurrentUser.Id == post.Autor.Id)
				{
					<a href="/Home/EditPost?id=@post.Id">[Edit]</a>
					<a href="/Home/DeletePost?id=@post.Id">[Delete]</a>
				}

				@if (User.Identity.IsAuthenticated && Model.CurrentUser.Role == MyBlog.Enums.UserRole.Admin)
				{
					<a href="/Home/HidePost?id=@post.Id">[Hide]</a>
				}

				<br />

				@if (User.Identity.IsAuthenticated)
				{
					<form method="post" action="/Home/AddComment">
						<input type="hidden" name="PostId" value=@post.Id />
						<p>Enter comment :</p>
						<input type="text" name="Content" />
						<input type="submit" value="Send" />
					</form>
				}

				<div class="comments">
					@foreach (var comment in post.Comments)
					{
						<div class="comment">
							@comment.Autor.NickName <br />
							@comment.Content <br />

							@if (User.Identity.IsAuthenticated && Model.CurrentUser.Id == comment.Autor.Id)
							{
								<a href="/Home/EditComment?id=@comment.Id">[Edit]</a>
								<a href="/Home/DeleteComment?id=@comment.Id">[Delete]</a>
							}

							@if (User.Identity.IsAuthenticated && Model.CurrentUser.Role == MyBlog.Enums.UserRole.Admin)
							{
								<a href="/Home/HideComment?id=@comment.Id">[Hide]</a>
							}

							<br />
						</div>
					}
				</div>
			</div>
		}
	</div>
	@if (Model.CurrentPage > 1)
	{
		<p><a href="/Home/Index?page=@(Model.CurrentPage-1)"> Previous page </a> <br /></p>
	}
	@if (Model.HasNextPage == true)
	{
		<p><a href="/Home/Index?page=@(Model.CurrentPage+1)"> Next page </a> <br /></p>
	}
</div>  